- content_tag_for :div, field_ministry do
  %ul
    %li
      %strong Name:
      =h field_ministry.name
    %li
      %strong 
        %abbr{:title => "eXtensible Markup Language"} XML
        %abbr{:title => "Universal Resource Locator"} URL:
      =h field_ministry.xml_url
    = link_to 'Show', field_ministry
    = link_to 'Edit', edit_field_ministry_path(field_ministry)
    = link_to 'Destroy', field_ministry, :confirm => 'Are you sure?', :method => :delete